
.App{
    padding: 2rem;
    width: 100%;
}
.loginContainer{
    width: 70%;
    margin: auto;
}
.loginContainer h2{
    font-size: 2rem;
}

.loginContainer form{
    width: 100%;
    margin-top: 2rem;
    padding: 4rem 3rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1rem;
}
.toast{
    position: fixed;
    bottom: 10%;
}