
.App{
    padding: 2rem;
    width: 100%;
}
.loginContainer{
    width: 70%;
    margin: auto;
}
.loginContainer h2{
    font-size: 2rem;
}

.loginContainer form{
    width: 100%;
    margin-top: 2rem;
    padding: 4rem 3rem;
    background-color: white;
    border: 1px solid gray;
    border-radius: 1rem;
}
.toast{
    position: fixed;
    bottom: 10%;
}
table tr th{
    text-align: center !important;
}
option{
    text-align: center !important;
    padding: 1rem !important;
}


.tableHeadContainer{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
}
.paginationContainer{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tableHeadContainer .btn{
    background-color: rgb(117, 47, 173);
    padding: .5rem 2rem;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}